/* src/pages/LessonPlanList/LessonPlanList.css */

.plan_list_content {
    max-width: 1000px; /* Limita a largura do conteúdo */
    margin: 0 auto; /* Centraliza o conteúdo horizontalmente */
    padding: 20px; /* Espaçamento interno */
    background-color: #f9f9f9; /* Cor de fundo suave */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    margin-top: 20px;
}

.h2_lesson_plan {
    text-align: center; /* Centraliza o título */
    color: #333; /* Cor do texto do título */
    margin-bottom: 20px; /* Espaçamento abaixo do título */
}

.lesson-plan-table {
    width: 100%; /* Largura total da tabela */
    border-collapse: collapse; /* Remove o espaço entre as células */
}

.lesson-plan-table th,
.lesson-plan-table td {
    padding: 12px; /* Espaçamento interno das células */
    text-align: left; /* Alinhamento do texto à esquerda */
    border-bottom: 1px solid #ddd; /* Linha divisória abaixo das células */
}

.lesson-plan-table th {
    color: black; /* Cor do texto do cabeçalho */
}

.lesson-plan-table td {
    color: #555; /* Cor do texto das células */
}

.action-buttons {
    display: flex;
    justify-content: flex-end; /* Alinha os botões à direita */
    gap: 10px; /* Espaço entre os botões */
}

.button_edit_lesson_plan,
.button_delete_lesson_plan,
.button_create_lesson_plan {
    font-size: 16px;
    border: none;
    padding: 4px 6px;
    border-radius: 5px;
    background-color: #2d7aaf;
    cursor: pointer;
}

