* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.profile-icon {
    font-size: 150px;
    margin-top: 25px;
}

.profile-text {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.menu {
    list-style: none;
    padding: 0;
    margin-top: 40px;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: color 0.3s;
    margin-bottom: 15px;
    font-size: 18px;
}

.dashboard,
.plano,
.biblioteca,
.progresso {
    padding-left: 10px;
}

.menu-item:hover {
    background-color: #2d7aaf;
    color: white;
    border-radius: 10px;
}

.menu-item.active { 
    background-color: #2d7aaf;
    color: white;
    border-radius: 10px;
}

.logout {
    margin-top: auto;
}

