* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.login_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #A39D9D;
}

.login_box {
    display: flex;
    border-radius: 10px;
    width: 1056px;
    height: 619px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.login_left {
    width: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; 
}

.login_left img {
    max-width: 100%; 
    height: auto; 
    object-fit: cover; 
}

.login_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 2rem;
}

.login_right h2 {
    display: inline-block;
    font-size: 40px;
    color: #161144;
    border-bottom: 2px solid #161144;
    padding-bottom: 5px;
    margin-bottom: 60px;
}

.password_container {
    position: relative;
}

.password_container input {
    width: 100%; 
    padding-right: 40px; 
}

.password_icon {
    position: absolute; 
    right: 30px; 
    top: 40%; 
    transform: translateY(-50%); 
    cursor: pointer; 
    color: #aaa;
    z-index: 1; 
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

input {
    margin-bottom: 1rem;
    padding: 1rem;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.button_login {
    padding: 0.75rem;
    font-size: 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 40px;
    transition: background-color 0.3s ease;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #09f;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    display: inline-block;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.error_message {
    color: red;
    margin: 10px 0;
    font-size: 14px;
}

