.edit_lesson_plan {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.content_edit {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 50%;
    max-width: 600px;
}

.content_edit h2 {
    margin-bottom: 10px;
}

.lesson_plan_button_save_modal {
    width: 100px;
    margin-bottom: 10px;
    font-size: 14px;
    border: none;
    background-color: #2d7aaf;
    border-radius: 4px;
    padding: 10px 16px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

.lesson_plan_button_close_modal {
    width: 100px;
    margin-bottom: 10px;
    font-size: 14px;
    border: none;
    background-color: #2d7aaf;
    border-radius: 4px;
    padding: 10px 16px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}


